html {
    font-size: 42.67px;
    -webkit-text-size-adjust: none;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 42.67px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 50px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 64px;
    }
}

@media screen and (min-width: 540px) {
    html {
        font-size: 72px;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 85.33px;
    }
}

@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 106.67px;
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: 128px;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 144px;
    }
}

html {
    -webkit-text-size-adjust: none;
    height: 100%;
}

body {
    background: #fff;
    font-family: "Microsoft Yahei";
    height: 100%;
}

a,
body,
dd,
div,
dl,
dt,
em,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
img,
label,
li,
ol,
p,
pre,
input,
section,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul,
li,
a,
input,
textarea,
button {
    text-decoration: none;
    outline: none;
    list-style-type: none;
}

a,
a:hover {
    color: #282c37;
}

img {
    width: 100%;
    height: 100%;
}

div {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}


/*--placeholder--*/

input::-webkit-input-placeholder {
    /* WebKit browsers*/
    color: #888;
    font-size: 0.26rem;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18*/
    color: #888;
    font-size: 0.26rem;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+*/
    color: #888;
    font-size: 0.26rem;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+*/
    color: #888;
    font-size: 0.26rem;
}

.warp {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}


/* display css*/

.dn {
    display: none !important;
}

.dib {
    display: block;
}

.dflex-between {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


/* font-size css */

.f32 {
    font-size: 0.32rem;
}

.f50 {
    font-size: 0.5rem;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}


/* color css */

.cf {
    color: #fff !important;
}

.cblue {
    color: #3b5998 !important;
}


/* background-color css */

.bblue {
    background-color: #3b5998 !important;
}

.bf4 {
    background-color: #f4f4f4 !important;
}

.h100 {
    height: 100%;
}


/* border-color*/

.btse9 {
    border-top: 1px solid #e9e9e9;
}

.bbse9 {
    border-bottom: 1px solid #e9e9e9;
}


/* padding css*/

.pt88 {
    padding-top: 0.88rem;
}

.pb110 {
    padding-bottom: 1.1rem;
}


/* oh css*/

.oh {
    overflow: hidden;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.linetwo {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.linethree {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.os {
    overflow: scroll;
    height: calc(100vh - 1.98rem);
}

.heados {
    overflow: scroll;
    height: calc(100vh - 0.88rem);
}

.navos {
    overflow: scroll;
    height: calc(100vh - 1.1rem);
}

.shadow {
    box-shadow: 0 0.05rem 0.2rem 0 #ddd;
}

.gradient-back {
    color: #fff;
    background: -webkit-linear-gradient(left, #ff6e52, #ff0071);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff6e52, #ff0071);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff6e52, #ff0071);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff6e52, #ff0071);
    /* 标准的语法 */
}

.bcf8 {
    background: #f8faff;
}


/*swiper css*/

.swiper-pagination-bullet {
    width: 0.16rem;
    height: 0.16rem;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0.6rem;
}


/*step css*/

.step-cont {
    text-align: left;
    padding: 0 0.5rem;
}

.step-title {
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 1.2rem;
}

.step-label {
    font-size: 0.3rem;
}

.step-next {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.2rem;
    line-height: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}


/*diary css*/

.diary-temp {
    background: #fff;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
    margin-bottom: 0.3rem;
}